@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-exo), sans-serif;
  background-color: #ffffff;
  color: #111827;
}

.dark body {
  background-color: #0a0a0a;
  color: #ededed;
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
  }

  * {
    border-color: var(--border);
  }

  html {
    font-family: var(--font-exo), Arial, Helvetica, sans-serif;
  }


}