@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
.root{background-color:black;}
body {
  font-family: var(--font-exo), sans-serif;
  background-color: #ffffff;
  color: #111827;
}

.dark body {
  background-color: black;
  color: #ededed;
}
 

  html {
    font-family: var(--font-exo), Arial, Helvetica, sans-serif;
  }
}
