@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-exo), sans-serif;
  background-color: #ffffff;
  color: #111827;
}

.dark body {
  background-color: black;
  color: #ededed;
}

@layer base {


  * {
    border-color: var(--border);
  }

  html {
    font-family: var(--font-exo), Arial, Helvetica, sans-serif;
  }
}
